@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
:root {
  --fontFamily: "Almarai", "Inter", sans-serif;
}
body {
  font-family: var(--fontFamily);
}
/* Headings */
.h1 {
  font-family: var(--fontFamily);
  font-size: 58px;
  line-height: 87px;
  letter-spacing: 0px;
}

.h2 {
  font-family: var(--fontFamily);
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0px;
}

.h3 {
  font-family: var(--fontFamily);
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0px;
}

.h4 {
  font-family: var(--fontFamily);
  font-size: 34px;
  line-height: 51px;
  letter-spacing: 0px;
}

.h5 {
  font-family: var(--fontFamily);
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0px;
}

.h6 {
  font-family: var(--fontFamily);
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0px;
}

.h7 {
  font-family: var(--fontFamily);
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0px;
}

/* Body Text */
.b-1 {
  font-family: var(--fontFamily);
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

.b-2 {
  font-family: var(--fontFamily);
  font-style: italic;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
}

.b-3 {
  font-family: var(--fontFamily);
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
}

.b-4 {
  font-family: var(--fontFamily);
  font-style: italic;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0px;
}

.b-5 {
  font-family: var(--fontFamily);
  font-style: italic;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 0px;
}

.pr {
  color: var(--primary-color);
}
.color1 {
  color: var(--color1);
}

.DescriptionColor {
  color: var(--DescriptionColor);
}
