@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --fontFamily: "Almarai", "Inter", sans-serif;
}
body {
  font-family: var(--fontFamily);
}
/* Headings */
.h1 {
  font-family: var(--fontFamily);
  font-size: 58px;
  line-height: 87px;
  letter-spacing: 0px;
}

.h2 {
  font-family: var(--fontFamily);
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0px;
}

.h3 {
  font-family: var(--fontFamily);
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0px;
}

.h4 {
  font-family: var(--fontFamily);
  font-size: 34px;
  line-height: 51px;
  letter-spacing: 0px;
}

.h5 {
  font-family: var(--fontFamily);
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0px;
}

.h6 {
  font-family: var(--fontFamily);
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0px;
}

.h7 {
  font-family: var(--fontFamily);
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0px;
}

/* Body Text */
.b-1 {
  font-family: var(--fontFamily);
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

.b-2 {
  font-family: var(--fontFamily);
  font-style: italic;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
}

.b-3 {
  font-family: var(--fontFamily);
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
}

.b-4 {
  font-family: var(--fontFamily);
  font-style: italic;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0px;
}

.b-5 {
  font-family: var(--fontFamily);
  font-style: italic;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 0px;
}

.pr {
  color: var(--primary-color);
}
.color1 {
  color: var(--color1);
}

.DescriptionColor {
  color: var(--DescriptionColor);
}

/* .aaaaaaaaaaaa h1{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 68%, rgba(169,140,254,1) 80%);
}

.bbbbbbb {
  background: linear-gradient(180deg, #ffffff 54.17%, #a98cfe 100%);
} */

.firstCircle::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d7cafe99;
  position: absolute;
  right: 50px;
  top: 25%;
}

.thirdCircle::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d7cafe99;
  position: absolute;
  right: 17px;
  top: 25%;
}

/* .testclass { */
/* background-image: url('../assets/images/blur.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 100%; */
/* } */

.blurCircle {
  filter: blur(534px);
  background: #9875fd;
  overflow: hidden;
}
.testclass {
  filter: blur(224px);
  background: #9875fd;
}

.herotext {
  background: linear-gradient(180deg, #ffffff 54.17%, #a98cfe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ant-input {
  font-family: var(--fontFamily);
}

.HeroSecionHomePage .ant-input-prefix {
  margin-inline-start: 15px;
  margin-inline-end: 12px;
}

.HeroSecionHomePage input::placeholder,
.HeroSecionHomePage input {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #919191;
}

.HeroSecionHomePage .ant-input-affix-wrapper.ant-input-outlined {
  border: none;
  box-shadow: none;
}

.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
