@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --fontFamily: "Almarai", "Inter", sans-serif;
}
body {
  font-family: var(--fontFamily);
}
/* Headings */
.h1 {
  font-family: var(--fontFamily);
  font-size: 58px;
  line-height: 87px;
  letter-spacing: 0px;
}

.h2 {
  font-family: var(--fontFamily);
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0px;
}

.h3 {
  font-family: var(--fontFamily);
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0px;
}

.h4 {
  font-family: var(--fontFamily);
  font-size: 34px;
  line-height: 51px;
  letter-spacing: 0px;
}

.h5 {
  font-family: var(--fontFamily);
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0px;
}

.h6 {
  font-family: var(--fontFamily);
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0px;
}

.h7 {
  font-family: var(--fontFamily);
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0px;
}

/* Body Text */
.b-1 {
  font-family: var(--fontFamily);
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

.b-2 {
  font-family: var(--fontFamily);
  font-style: italic;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0px;
}

.b-3 {
  font-family: var(--fontFamily);
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
}

.b-4 {
  font-family: var(--fontFamily);
  font-style: italic;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0px;
}

.b-5 {
  font-family: var(--fontFamily);
  font-style: italic;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 0px;
}

.pr {
  color: var(--primary-color);
}
.color1 {
  color: var(--color1);
}

.DescriptionColor {
  color: var(--DescriptionColor);
}

.firstCircle::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d7cafe99;
  position: absolute;
  right: 50px;
  top: 25%;
}

.thirdCircle::after {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d7cafe99;
  position: absolute;
  right: 17px;
  top: 25%;
}

/* .testclass { */
/* background-image: url('../assets/images/blur.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 100%; */
/* } */

.blurCircle {
  filter: blur(534px);
  background: #9875fd;
  overflow: hidden;
}
.testclass {
  filter: blur(224px);
  background: #9875fd;
}

.herotext {
  background: linear-gradient(180deg, #ffffff 54.17%, #a98cfe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.AboutUsText {
  background: linear-gradient(180deg, #000000 0%, #300c71 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ant-input {
  font-family: var(--fontFamily);
}

.HeroSecionHomePage .ant-input-prefix,
.ExplorePageParentOfInput .ant-input-prefix,
.inputStyles .ant-input-prefix {
  margin-inline-start: 15px;
  margin-inline-end: 12px;
}

.HeroSecionHomePage input::placeholder,
.HeroSecionHomePage input,
.ExplorePageParentOfInput input::placeholder,
.ExplorePageParentOfInput input,
.inputStyles input::placeholder,
.inputStyles input {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: #919191;
}

.inputStyles input::placeholder {
  color: var(--neutral-600) !important;
}

.inputStyles .ant-input-outlined {
  border: 1px solid var(--neutral-300);
  box-shadow: none;
}

.HeroSecionHomePage .ant-input-affix-wrapper.ant-input-outlined {
  border: none;
  box-shadow: none;
}

.ExplorePageParentOfInput {
  box-shadow: 0px 3px 12px 0px #8d8d8d24;
  border-radius: 100px;
}
.ExplorePageParentOfInput .ant-input-affix-wrapper.ant-input-outlined {
  border: 1px solid #e7e7e7;
  /* box-shadow: 0px 3px 12px 0px #8d8d8d24; */
}

.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.AlmaraiFont {
  font-family: "Almarai", "Inter", sans-serif;
}

.InterFont {
  font-family: "Inter", sans-serif;
}

/* ant-select ant-select-outlined */
/* .ant-select-outlined, */
.ant-select-selector {
  border: 1px solid var(--neutral-300) !important;
  box-shadow: none !important;
  border-radius: 100px !important;
  font-family: var(--fontFamily) !important;
  padding-inline-start: 24px !important;
  padding-inline-end: 18px !important;
}

.ant-select-selector .ant-select-selection-placeholder {
  color: var(--neutral-600);
}

.ant-select-item-option-content {
  font-family: var(--fontFamily) !important;
}

.ExploreSection {
  background: linear-gradient(
    90deg,
    rgba(100, 65, 239, 0.1) 0%,
    rgba(100, 65, 239, 0.52) 100%
  );
}

.ant-typography-expand {
  display: none !important;
}

.ant-float-btn-content {
  padding: 0px !important;
}

.ant-float-btn-icon {
  width: 100% !important;
}

.ant-float-btn-icon svg {
  transform: translate(1px, -1px);
}

.search-button:hover svg {
  color: var(--primary-color) !important;
}

/* LANDINGPAGE RESPONSIVE DESIGN */
@media screen and (max-width: 600px) {
  .HakeemHeader {
    border: none;
    padding: 0;
    max-width: 100% !important;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 500px) {
  .HeroSecionHomePage h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
  }
  .circles {
    display: none;
  }

  .HeroSectionParent {
    min-height: 550px;
    /* height: 550px; */
    /* background: linear-gradient(
      179.09deg,
      rgba(126, 83, 253, 0.8) -17.71%,
      rgba(67, 36, 189, 0.8) 99.22%
    ); */
  }
}

@media screen and (max-width: 430px) {
  .serviceCard h2 {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 22px !important;
    letter-spacing: 0% !important;
  }
  .serviceCard p {
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 22px !important;
    letter-spacing: 0% !important;
  }

  /* START ABOUT US PAGE */
  .titlePage {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.06em;
  }
  .descriptionPage {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
  }

  .AboutCardTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: center;
  }

  .AboutCardDescription {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
  }

  .AboutLastTitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0px;
  }

  .AboutLastDescription {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0px;
  }
  /* END ABOUT US PAGE */

  /* START CONTACT US PAGE */
  .ContactUsTitlePage {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.06em;
  }
  .ContactUsDescriptionPage {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0px;
  }

  .ContactUsCardTitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 60px;
    letter-spacing: 0px;
    vertical-align: middle;
  }

  .ContactUsCardDescription {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0px;
  }
  .ContactUsDropMessage {
    font-weight: 500;
    font-size: 24px;
    line-height: 60px;
    letter-spacing: 0px;
  }

  .ContactUsDropMessageDes {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
  }
  /* END CONTACT US PAGE */
}
