@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --primary-color: #7e53fd;

    /* Primary Colors */
    --primary-100: #bfa9fe;
    --primary-200: #7e53fd;
    --primary-300: #5016fc;
    --primary-400: #3702d1;
    --primary-500: #270294;
    --primary-alpha-10: #7e53fd;

    /* Secondary Colors */
    --secondary-100: #ffe3a7;
    --secondary-200: #ffc64f;
    --secondary-300: #ffb211;
    --secondary-400: #d38e00;
    --secondary-500: #956500;
    --secondary-alpha-10: #ffc64f;

    /* Neutral Colors */
    --neutral-100: #ffffff;
    --neutral-200: #e8e8e8;
    --neutral-300: #d2d2d2;
    --neutral-400: #bbbbbb;
    --neutral-500: #a4a4a4;
    --neutral-600: #8e8e8e;
    --neutral-700: #777777;
    --neutral-800: #606060;
    --neutral-900: #4a4a4a;
    --neutral-1000: #333333;
    --neutral-alpha-10: #333333;

    /* Red */
    --red-100: #fb3748;
    --red-200: #d00416;
    --red-alpha-10: #fb3748;

    /* Yellow */
    --yellow-100: #ffdb43;
    --yellow-200: #dfb400;
    --yellow-alpha-10: #ffdb43;

    /* Green */
    --green-100: #84ebb4;
    --green-200: #1fc16b;
    --green-alpha-10: #1fc16b;

    /* Gray */
    --gray: #f4f2ff;
    --Gray-100: #f4f4f5;
    --Gray-200: #e1e1e2;
    --Gray-800: #27272a;

    /* Other Vars */
    --color1: #280c69;
    --color2: #35236a;
    --titleColor: #1e1926;
    --DescriptionColor: #4a4453;
    --DescriptionColor2: #717171;
    --DescriptionsColor: #878787;
    --darkColor: #080020;
    --Black: #000000;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --primary-color: #fff;
  }

  .container {
    max-width: 79.1% !important;
    margin: 0 auto;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
